<div class="col-md-4">
  <div class="thumbnail">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQF1oCVFFt7Cd4aqMAbjfrb4DiS5M_eRkyti6z8QRiUGonwkQ9C  " alt="">
<div class="caption">
    <h3>Best Rubik's Cube</h3>
    <p>This is the best product available in the market</p>
    <p>
        <strong>Price :</strong> $24
    </p>
    <p>
        <button class="btn btn-primary btn-sm">Add to Cart</button>
        <!-- {{' '}} -->
        <button class="btn btn-default btn-sm">View Details</button>
    </p>
</div>  
</div>
</div>