<!-- <app-login-demo2></app-login-demo2> -->

<!-- <app-responsive-animated-login></app-responsive-animated-login> -->
<!-- <app-website></app-website> -->
<!-- <app-google-page></app-google-page> -->
<!-- <app-add-to-cart></app-add-to-cart> -->
<!-- <app-header></app-header> -->
<app-navbar></app-navbar>
<div class="container">
<div class="row">
        <div class="co-md-12">
<app-header></app-header>
        </div>
</div>

<div class="row">
        <div class="co-md-12">
 <app-add-to-cart></app-add-to-cart>
        </div>
</div>

<div class="row">
        <div class="co-md-12">
<app-footer> </app-footer>
        </div>
</div>
</div>


