<div class="bgimage">
        <div class="menu">
                    <div class="left-menu">
                    <h4>E-Commerce</h4>
                    </div>
                <div class="right-menu">
                    <ul>
                        <li>HOME</li>
                        <LI>SERVICES</LI>
                        <LI>WORKS</LI>
                        <LI>ABOUT US</LI>
                        <LI>BLOGS</LI>
                        <LI>CONTACT US</LI>
                        <li>LOGIN</li>
                        <li>SIGNUP</li>
                    </ul>
                </div>
        </div>
<div class="text">
<h4>DESIGN   DEVELOPMENT   BRANDING</h4>
<h1>CREATIVE & EXPERIENCED</h1>
<h3>WE ARE ONE OF THE WORLDS TOP  CREATIVE DESIGN AGENCIES</h3>
<button class="button1"> LIKE SHARE</button>
<button class="button2">SUBSCRIBE</button>
</div>
</div>