<div class="Body">
    <div class="Box">
            <h1>Login Page</h1>
            <form>
                <div class="inputBox">
                    <input type="text" name="" required="">
                    <label>Username</label>
                </div>
                <div class="inputBox">
                    <input type="password" name="" required="">
                    <label>Password</label>
                </div>
                <input type="submit" value="submit" class="Button">
            </form>
    </div>
</div>