<div class="row">
       <!-- <app-product-item *ngfor="let i of [1,2,3,4,5,6]"></app-product-item> -->
       
        <app-product-item  ></app-product-item> 
       <app-product-item></app-product-item>
       <app-product-item></app-product-item>
       <app-product-item></app-product-item>
       <app-product-item></app-product-item>
       <app-product-item></app-product-item>
       <app-product-item></app-product-item>
       <app-product-item></app-product-item>
       <app-product-item></app-product-item>
</div>
<!-- <li *ngfor="let i of nums">{{i.nums}}</li> -->